.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-wrapper .card {
  margin: 20px;
}

.card {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  transition: all 0.5s;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card img {
  border-radius: 12px;
  height: 100px;
  width: 200px;
}

.card p, a {
  text-decoration: none;
}