html,
body {
  padding: 0;
  margin: 0;
  background: rgb(5, 11, 14);
  color: white;
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9c9c9c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#back-button {
  background: none;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  padding: 8px;
  margin: 12px;
  transition: .3s;
  font-size: large;
  font-family: "Fredoka One";
}

#back-button:hover {
  background: rgb(113, 166, 148);
  cursor: pointer;
}

#homepage-title {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

#homepage-hero-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  margin: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 19px;
  transition: all 0.2s;
}

.menu-btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0px 1px 10px 10px;
  transform: translateY(-7px);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3vw;
}

#footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  display: flex;
  margin: 15px;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  transition: all .3s;
}

#card:hover {
  transform: translateY(-6px);
  cursor: pointer;
  box-shadow: rgba(223, 220, 245, 0.5) 0px 1px 10px 5px;
}

#skillset-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#skillset-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#skillset-icons img {
  margin: 10px;
}

.paragraph {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

#projects-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  align-items: center;
  border-radius: 12px;
  background: rgb(33, 56, 77);
  color: white;
  width:400px;
  height: 200px;
  padding: 15px;
  padding-bottom: 70px;
  transition: all .3s;
}

.project-card img {
  width: 430px;
  height: 200px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.project-card h1 {
  font-size: 22px;
  font-weight: 400;
}

.project-card p {
  color: rgb(169, 194, 191);
}

.project-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#about-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about-wrapper img {
  margin-right: 30px;
}

#contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FCFCFD;
  padding: 15px;
  border-radius: 12px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset
}

#form textarea {
  background: none;
  border-radius: 12px;
  margin: 10px;
  width: 300px;
  border: none;
  height: 180px;
  font-size: large;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 12px;
  color: black;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset
}

#form textarea::placeholder {
  color: black;
  font-size: 16px;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form input {
  background: none;
  border-radius: 12px;
  margin: 10px;
  font-size: large;
  width: fit-content;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 12px;
  color: black;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset
}

#form input::placeholder {
  color: black;
  font-size: 16px;
  font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}